.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: black;
}
.toolbar_nav {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    z-index: 300;
}

.toolbar_nav_items a {
    color: white;
    text-decoration: none;
}

.toolbar_nav_items li a{
    display: block;
    padding: 14px 16px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.toolbar_nav_items li a:hover,
.toolbar_nav_items li a:active {
    color: gray;
    background-color: rgb(77, 82, 77);
}

.spacer {
    flex: 1;
}

.toolbar_nav_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

toolbar_menu_button {
    text-align: left;
}

.logo {
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .toolbar_nav_items {
        display: none;
    }
}

@media (min-width: 769px ) {
    .toolbar-toggle-button {
        display: none;
    }
}